* {
  border: 1px solid red;
}

body {
  font-family: "Roboto", sans-serif; /*This imports the Roboto Google font*/
  margin: 0;
}

/* Section 1 */
.section1 {
  background-color: #1f2937;
  color: #f9faf8;
  margin: 0;
  padding: 30px 270px;
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 1000px;
}

.section1 .container {
  display: flex;
  justify-content: center;
}

.header h1 {
  font-size: 24px;
}

.header ul {
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 400;
}

/* Section 2 */
.header2 {
  display: flex;
  padding: 100px 0px;
  gap: 50px;
}

.header2 img {
  width: 500px;
}

.signup h2 {
  font-size: 48px;
  margin: 0;
  flex: 0 0 auto;
}

.signup p {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.signup button {
  background-color: #3882f6;
  border-radius: 7px;
  border: none;
  padding: 7px 30px;
  margin-top: 12px;
  color: #f9faf8;
  font-weight: 700;
  font-size: 20px;
}

.section2 h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.cards {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.card {
  width: 200px;
}

.card img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border: 5px solid #3882f6;
  border-radius: 20px;
}

.card p {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding-bottom: 100px;
}

/* Section 3 */
.section3 {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  padding: 125px 500px;
}

.section3 p {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  margin: 0;
  width: 900px;
}

.section3 span {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  align-self: flex-end;
}

.section4 {
  display: flex;
  justify-content: center;
}

.section4 .text-button-wrapper {
  display: flex;
  justify-content: center;
  background-color: #3882f6;
}
.section4 .text-button {
  margin: 0;
  padding: 0 130px;
}

.section4 .button {
  align-self: center;
}

.section4 button {
  border: 2px solid #f9faf8;
  background-color: #3882f6;
  border-radius: 10px;
  color: #f9faf8;
  padding: 8px 36px;
  font-weight: 700;
  font-size: 18px;
}
